.content {
    max-width: 1200px;
    margin: auto;
    background: white;
    text-align: center;
    padding: 10px;
}

.body {
        font-family: 'Open Sans', sans-serif;
}

.boxed {
    border: 1px solid black ;
    text-align: center;
    overflow: auto;
    margin: auto;
    width: 400px; 
    height: 400px; 
}


.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    width: 25%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}