.content {
    max-width: 1200px;
    margin: auto;
    background: white;
    text-align: center;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
}

.body {
    font-family: 'Open Sans', sans-serif;
}

.title{
    font-size: 24px;
}

.boxed {
    border: 1px solid black ;
    text-align: center;
    overflow: auto;
    margin: auto;
    width: 400px; 
    height: 400px; 
}

input { 
    margin-bottom: 50px; 
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    width: 25%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Styles for the tabs in the project pages */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}