/*----------------------------------------
    
    SITE WIDE 
    
----------------------------------------*/

    * {
        font-family: 'Open Sans', sans-serif;
        box-sizing: border-box;
        overflow: auto;
        text-align: left;
    }

/*----------------------------------------
    
    HEADER
    
----------------------------------------*/

    .header {
        border-bottom: 2px solid #eeeeee;
    }
    
    .inner-header {
        margin-bottom: 10px;
    }
    
    
/*----------------------------------------
    
    TYPOGRAPHY 
    
----------------------------------------*/

    a {
        text-decoration: none;
        color: #4CAF50;
    }
    
    a:hover {
        color: #388346;
    }
    
    .title{
        font-size: 36px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 10px 15px;
        width: 300px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 10px;
        cursor: pointer;
        float: left;
    }
    
    .button:hover {
        background-color: #388346;
        color: white;
    }
    
    h1.boxed_text {
        font-weight: 700;
        color: #4aaf5d;
        text-align: left;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    p.boxed_text {
        text-align: left;
        font-size: 13px;
        margin: 0 !important;
    }

/*----------------------------------------
    
    LAYOUT 
    
----------------------------------------*/

    .content, .inner-header {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .one-col, .boxed {
        width: 300px;
        margin-left: 10px;
        margin-right: 10px;
        float: left;
    }
    
    .two-col {
        width: 620px;
        margin-left: 10px;
        margin-right: 10px;
        float: left;
    }
    
    .three-col {
        margin-left: 10px;
        margin-right: 10px;
    }

    .boxed {
        display: inline-block;
        overflow: auto;
        margin: 10px;
        margin-bottom: 50px;
        height: 400px;
    }
    
    img {
        max-width: 960px;
    }
    
    iframe {
        height: 1000px;
    }
    
/*----------------------------------------
    
    FORM 
    
----------------------------------------*/

    input[type=text] {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }
    
    .float-right {
        float: right;
    }
    
/*----------------------------------------
    
    TABLE
    
----------------------------------------*/ 

    td {
        vertical-align: top;
    }  


/*----------------------------------------
    
    MISCELLANEOUS
    
----------------------------------------*/     
    
    .centered_div{
        display: inline-block;
        border: 1px solid black ;
    }
    
    .regular_left_text{
        text-align: left;
    }
    
    
    .project-thumbnail {
        width: 300px;
        height: 300px;
    }
    
    .project-thumbnail img {
        object-fit: cover;
        max-height: 100%;
        max-width: 100%;
        height: auto;
        width: auto;
    }
    
    .project_page_image{
        max-width: 600px;
        max-height:500px;
        width: auto;
        height: auto;
        float: left;
    }
    
    a.project_link:link
    {
       color: black;
       text-decoration: none;
    }
    a.project_link:visited
    {
       color: black;
       text-decoration: none;
    }
    a.project_link:hover
    {
       color: black;
       text-decoration: none;
    }
    a.project_link:active
    {
       color: black;
       text-decoration: none;
    }
    
    .edit_this_page_button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 10px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        float: right;
        font-size: 12px;
        margin: 10px;
        cursor: pointer;
    }
    
    /* Styles for the tabs in the project pages */
    .tab {
        overflow: hidden;
        border-bottom: 2px solid #eeeeee;
    }
    
    /* Style the buttons inside the tab */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }
    
    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #ddd;
    }
    
    /* Create an active/current tablink class */
    .tab button.active {
        background-color: #ccc;
    }
    
    /* Style the tab content */
    .tabcontent {
        display: none;
        border-top: none;
    }     

/*----------------------------------------
    
    MEDIA QUERIES
    
----------------------------------------*/ 

    @media only screen and (max-width: 960px) {
        
        .content, .inner-header {
            width: 300px;
        }
        
        .two-col {
            width: 300px;
        }
        
        .three-col {
            width: 300px;
        }
        }
        
        
/*----------------------------------------
    
    FOOTER
    
----------------------------------------*/
        
        
.footer-basic-centered{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: normal 18px sans-serif;

    padding: 45px;
    margin-top: 80px;
}

.footer-basic-centered .footer-company-motto{
    color:  #8d9093;
    font-size: 24px;
    text-align: center;
    margin: 0;
}

.footer-basic-centered .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    margin: 0;
    width: 100%;
    text-align: center;
}

.footer-basic-centered .footer-links{
    list-style: none;
    font-weight: bold;
    color:  #ffffff;
    padding: 35px 0 23px;
    margin: 0;
    text-align: center;
}

.footer-basic-centered .footer-links a{
    display:inline-block;
    text-decoration: none;
    color: inherit;
    text-align: center;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

    .footer-basic-centered{
        padding: 35px;
    }

    .footer-basic-centered .footer-company-motto{
        font-size: 18px;
    }

    .footer-basic-centered .footer-company-name{
        font-size: 12px;
    }

    .footer-basic-centered .footer-links{
        font-size: 14px;
        padding: 25px 0 20px;
    }

    .footer-basic-centered .footer-links a{
        line-height: 1.8;
    }
}
